<div class="col-md-4 col-lg-4 col-xl-3 d-flex mb-3">
    {{#if feature_image}}
    <div class="card">

        <a href=href="{{url}}">
            <img class="card-img-top" srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w,
                                {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 400px, 700px"
                src="{{img_url feature_image size="m"}}" alt="{{title}}" />
        </a>

        <div class="card-body d-flex flex-column">
            <a href="{{url}}">
                <h4>{{title}}</h4>
            </a>
            <p class="flex-grow-1 mb-0 small">
                {{excerpt}}
            </p>
        </div>

    </div>
    {{else}}
    <a href="{{url}}" class="card card-body justify-content-between no-image">
        <div></div>
        <div>
            <h3>{{title}}</h3>
            <p class="flex-grow-1 mb-0 small">
                {{excerpt}}
            </p>
        </div>
    </a>
    {{/if}}
</div>