{{!< default}}


{{#author}}
<header class="site-heading bg-alternative">
    <div class="container">
        <div class="row align-items-center">
            <div class="site-heading-content col mb-4 mb-lg-0">
                <div class="d-flex flex-wrap">
                    {{#if profile_image}}
                    <img loading="lazy" src="{{img_url profile_image  size="l"}}" alt="{{name}}"
                        class="avatar avatar-xl mr-3 d-none d-lg-block" />
                    {{/if}}

                    <div>
                        <h1 class="font-weight-bold">{{name}}</h1>
                        {{#if bio}}
                        <p class="lead mb-0">
                            {{bio}}
                        </p>
                        {{/if}}

                        <div class="d-flex flex-wrap">
                            {{#if twitter}}
                            <div class="mt-3">
                                <a href="https://twitter.com/{{twitter}}?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                                    data-size="large" data-dnt="true" data-show-count="false">Follow @{{twitter}}</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
{{/author}}

<div class="container my-5">
    {{#foreach posts}}
    <article class="post">
        <div class="d-flex align-items-baseline mb-2 pb-1">
            <div class="text-secondary text-right mr-2 col-auto d-md-block d-none" style="width:120px">
                {{#if featured}}⭐{{/if}} {{date format="MMM D, YYYY"}}</div>

            <div class="col">
                <a href="{{url}}" class="d-flex">
                    <h2 class="h5 font-weight-normal mb-0">
                        {{title}}
                    </h2>
                </a>
            </div>
        </div>
    </article>
    {{/foreach}}
</div>