<!DOCTYPE html>
<html lang="{{@site.lang}}" class="h-100" data-theme="light">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{asset "built/theme.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>

<body class="{{body_class}} d-flex flex-column h-100">
    <header>
        <nav id="nav" class="navbar navbar-expand-md fixed-top navbar-light">
            <div class="container">

                {{^is "home"}}
                <a class="navbar-brand" href="{{@site.url}}">                    
                    {{@site.title}}
                </a>
                {{/is}}

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav"
                    aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation" data-toggle="collapse"
                    data-target="#nav-content">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav-content">
                    {{navigation}}

                    {{#if @member.paid}}
                        <a class="nav-link" href="javascript:" data-members-edit-billing>Account</a>
                    {{/if}}

                    {{#if @member}}
                        <a class="nav-link" href="javascript:" data-members-signout>Sign out</a>
                    {{else}}
                        <a class="btn btn-secondary my-2 my-sm-0" href="{{@site.url}}/signin/">Subscribe</a>
                    {{/if}}

                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0">
        {{{body}}}
    </main>

    <footer class="footer mt-auto py-3 bg-alternative">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span>{{@site.title}}</span>
                </div>
                <div class="col-auto d-flex flex-row-reverse d-flex align-items-center">
                    <button id="theme-toggle" class="btn btn-secondary btn-sm ml-2 small" type="button">light</button>
                    <a href="#" class="small">GhostSolo theme</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>


        
    <script src='{{asset "built/site.js"}}'></script> 

    {{ghost_foot}}
    {{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>

</html>