<!DOCTYPE html>
<html lang="{{@site.lang}}" class="h-100" data-theme="light">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{asset "built/theme.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>

<body class="{{body_class}} d-flex flex-column h-100">
    <header>
        <nav id="nav" class="navbar navbar-expand-md fixed-top navbar-light">
            <div class="container">
                    {{^is "home"}}
                    <a class="navbar-brand" href="{{@site.url}}">                    
                        {{@site.title}}
                    </a>
                    {{else}}
                    <div></div>
                    {{/is}}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
                    aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation" data-toggle="collapse">
                    {{> "icons/menu"}}
                </button>



                <div class="collapse navbar-collapse " id="nav-content">


                    {{navigation}}

                    {{!-- <button id="search" class="btn btn-secondary-inverted btn-sm small d-flex" type="button"> --}}
                        {{!-- {{> "icons/search"}}  --}}
                        {{!-- <span class="d-inline-block ps-1">Search</span> --}}
                    {{!-- </button> --}}

                    <button id="theme-toggle" class="btn btn-link btn-sm ms-2 small d-flex" type="button">
                        <span class="d-block-light d-none">{{> "icons/moon"}}</span>
                        <span class="d-block-dark d-none">{{> "icons/sun"}}</span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0">
        {{{body}}}
    </main>

    <footer class="footer mt-auto py-3 bg-alternative">
        <div class="container">
            <div class="row">   
                <div class="col-md-8">                    
                    {{#if @labs.members}}
                    <div class="mt-4 mb-3" style="max-width:500px">
                        <div class="fw-bold pb-2 small">SUBSCRIBE</div>
                        {{> "signup_small"}}
                    </div>
                    {{/if}}
                </div>
                <div class="col-md-4 my-4">                    
                    <div class="fw-bold pb-1">{{@site.title}}</div>
                    <p class="mb-0 small">{{@site.description}}</p>
                </div>                
            </div>
            <div class="row">
                <div class="col col-xs-12 d-flex flex-wrap align-items-center my-3">
                    <div class="fw-bold me-3">                    
                        {{@site.title}}
                    </div>
                    {{navigation type="secondary"}}
                </div>
                <div class="col-auto d-flex d-flex align-items-center small text-secondary">
                    <span>Published with Ghost & </span> 
                    <a href="https://lukelowrey.com/ghostsolo" class="ps-1">GhostSolo</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>


        
    <script src='{{asset "built/site.js"}}'></script> 

    {{ghost_foot}}
    {{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>

</html>