
{{!< default}}


<article class="gh-article {{post_class}} site-content">

    <header class="gh-header gh-canvas">
        <h1 class="display-5 post-title">{{statusCode}}</h1>
        <p class="lead mb-4 mt-2 text-secondary">{{message}}</p>
    </header>



    {{#if errorDetails}}
    <section class="gh-content gh-canvas mt-5">
        <h4>Theme errors:</h4>
        <ul class="gh-error-stack-list">
            {{#foreach errorDetails}}
            <li>
                <h5 class="gh-error-stack-function">{{{rule}}}</h5>

                {{#foreach failures}}
                <span class="gh-error-stack-file"><strong>Ref:</strong> {{ref}}</span><br>
                <span class="gh-error-stack-file"><strong>Message:</strong> {{message}}</span>
                {{/foreach}}
            </li>
            {{/foreach}}
        </ul>
    </section>
    {{/if}}
</article>