{{!< default}}


{{#if @site.cover_image}}
<header class="site-heading" style="background-image:url('{{img_url @site.cover_image size="xl"}}')">
    <div class="overlay"></div>
{{else}}
<header class="site-heading">
{{/if}}

    <div class="container">
        <div class="row align-items-center">
            {{#if @site.logo}}
                <div class="site-heading-content col-lg-6 text-center text-lg-start mb-4 mb-lg-0 order-1 order-sm-2 order-xs-2">                    
            {{else}}            
                <div class="site-heading-content col text-center text-lg-start mb-4 mb-lg-0">                    
            {{/if}}
                    <h1 class="display-3 fw-bold">{{@site.title}}</h1>
                    <p class="lead mb-0">{{@site.description}}</p>

                    {{#if @labs.members}}
                    <div class="mt-4">
                        {{> "signup_small"}}
                    </div>
                    {{/if}}
                    
                    {{#if @site.twitter}}
                    <div class="my-3">
                        <a href="https://twitter.com/{{@site.twitter}}" class="btn btn-sm btn-secondary-inverted me-2">{{> "icons/twitter"}} Follow {{@site.twitter}}</a>
                    </div>
                    {{/if}}
                </div>
                
            {{#if @site.logo}}
                <div class="col-lg-6 order-lg-2 order-sm-1 order-xs-1 site-heading-image-container">
                    <img src="{{@site.logo}}" class="mx-auto d-block site-heading-image" alt="{{@site.title}}">
                </div>
            {{/if}}
        </div>
    </div>


</header>


{{#is "home"}}
{{#get "posts" filter="tags:hash-pinned" as |pinned|}}
<div class="py-5 bg-alternative">
    <div class="container">
        <div class="row">
            {{#foreach pinned}}
            {{> "card"}}
            {{/foreach}}
        </div>
    </div>
</div>
{{/get}}
{{/is}}


<div class="container my-5">
    {{#foreach posts}}
    <article class="post post-date-{{date format="YYYY"}}">
        <h3 class="mt-4 mb-3">{{date format="YYYY"}}</h3>
        <div class="d-flex align-items-baseline mb-2 pb-1">
            <div class="text-secondary text-right me-2 col-auto d-md-block d-none" style="width:80px">{{date format="MMM D"}}</div>
            
            <div class="col">
            <a href="{{url}}" class="d-flex">
                <h2 class="h5 fw-normal mb-0">
                   {{#if featured}}⭐{{/if}} {{title}}
                </h2>
            </a>

            </div>
        </div>
    </article>
    {{/foreach}}
    {{pagination}}
</div>