{{!< default}}


<header class="site-heading">

    <div class="container">
        <div class="row align-items-center">
            {{#if @site.logo}}
                <div class="site-heading-content col-lg-6 text-center text-lg-left mb-4 mb-lg-0 order-1 order-sm-2 order-xs-2">
                    <h1 class="display-3 font-weight-bold">{{@blog.title}}</h1>
                    <p class="lead mb-0">{{@blog.description}}</h2>
                    {{#if @labs.members}}
                        {{> "signup_small"}}
                    {{/if}}
                </div>
                <div class="col-lg-6 order-lg-2 order-sm-1 order-xs-1">
                    <img src="{{@site.logo}}" class="mx-auto d-block img-thumbnail site-heading-image" alt="{{@blog.title}}">
                </div>
            {{else}}
                <div class="site-heading-content col text-center text-lg-left mb-4 mb-lg-0">
                    <h1 class="display-3 font-weight-bold">{{@blog.title}}</h1>
                    <p class="lead mb-0">{{@blog.description}}</h2>
                    {{#if @labs.members}}
                        {{> "signup_small"}}
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>


</header>



{{#get "posts" filter="featured:true" limit="3" as |featured|}}
<div class="py-5 bg-alternative">
    <div class="container">
        <div class="row">
            {{#foreach featured}}
            {{> "card"}}
            {{/foreach}}
        </div>
    </div>
</div>
{{/get}}



<div class="container my-5">
    {{#foreach posts}}
    <article class="post post-date-{{date format="YYYY"}}">
        <h3 class="mt-4 mb-3">{{date format="YYYY"}}</h3>
        <div class="d-flex align-items-baseline mb-2 pb-1">
            <div class="text-secondary text-right mr-2 col-auto d-md-block d-none" style="width:85px">{{#if featured}}⭐{{/if}} {{date format="MMM D"}}</div>
            
            <div class="col">
            <a href="{{url}}" class="d-flex">
                <h2 class="h5 font-weight-normal mb-0">
                    {{title}}
                </h2>
            </a>

            </div>
        </div>
    </article>
    {{/foreach}}
</div>