{{!< default}}

{{#post}}

<article class="gh-article {{post_class}} site-content">

    <header class="gh-header gh-canvas">
        {{#primary_tag}}
        <a href="{{url}}" class="d-inline-block py-1 mt-2 small font-weight-bold text-uppercase">{{name}}</a>
        {{/primary_tag}}

        <h1 class="display-5 post-title">{{title}}</h1>

        {{#if custom_excerpt}}
        <p class="lead mb-2 mt-2 text-secondary">{{custom_excerpt}}</p>
        {{/if}}

        <hr />

        {{#primary_author}}
        <div class="author d-flex">
            <img loading="lazy" src="{{img_url profile_image  size="m"}}" alt="{{name}}" class="avatar mr-2" />
            <div>
                <a href="{{url}}" class="d-block">{{name}}</a>
                <div class="small text-secondary">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                    <span class="d-inline-block pl-3">{{reading_time}}</span>
                </div>
            </div>
        </div>
        {{/primary_author}}

        {{#if feature_image}}
        <img class="gh-feature-image rounded" srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 1000px, 2000px"
            loading="lazy" src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
        {{/if}}

    </header>

    <div class="gh-content gh-canvas mt-5">
        {{content}}
    </div>

    <footer class="gh-footer gh-canvas">

        {{#primary_author}}
        <div class="author d-flex bg-alternative rounded p-4 mt-4">
            <img loading="lazy" src="{{img_url profile_image  size="l"}}" alt="{{name}}"
                class="avatar avatar-lg mr-3" />
            <div>
                <a href="{{url}}" class="d-block font-weight-bold">{{name}}</a>

                {{#if bio}}
                <small class="mt-1">{{bio}}</small>
                {{/if}}

                {{#if twitter}}
                <div class="mt-2">
                    <a href="https://twitter.com/{{twitter}}?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                        data-size="large" data-dnt="true" data-show-count="false">Follow @{{twitter}}</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                {{/if}}

            </div>
        </div>
        {{/primary_author}}

        {{!--
        <section class="gh-post-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}

    </footer>

</article>

{{/post}}