{{!< default}}



{{#tag}}
{{#if feature_image}}
<header class="site-heading" style="background-image:url('{{img_url feature_image size="xl"}}')">
    <div class="overlay"></div>
{{else}}
<header class="site-heading bg-alternative">
{{/if}}

    <div class="container">
        <div class="row align-items-center">
            <div class="site-heading-content col-lg-6 text-center text-lg-start mb-4 mb-lg-0">
                <h1 class="fw-bold">{{name}}</h1>

                <p class="lead mb-0">
                    {{#if description}}
                    {{description}}
                    {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                    {{/if}}
                </p>
            </div>
        </div>
    </div>

</header>

{{/tag}}



<div class="container my-5">
    {{#foreach posts}}
    <article class="post">
        <div class="d-flex align-items-baseline mb-2 pb-1">
            <div class="text-secondary text-right me-2 col-auto d-md-block d-none" style="width:120px">
                 {{date format="MMM D YYYY"}}</div>

            <div class="col">
                <a href="{{url}}" class="d-flex">
                    <h2 class="h5 fw-normal mb-0">
                        {{#if featured}}⭐{{/if}} {{title}}
                    </h2>
                </a>
            </div>
        </div>
    </article>
    {{/foreach}}
</div>